# Created by https://www.gitignore.io

.DS_Store
.AppleDouble
.LSOverride
._*

### WebStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml
.idea/

## File-based project format:
*.ipr
*.iws

### Node ###
# Logs
logs
*.log

node_modules
.esm-cache
